<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/navigation.ejs') %>
    <div class="container">
        <div class="feed">
            <% if (posts.length > 0) { %>
                <% posts.forEach(post => { %>
                    <a href="/posts/<%= post.id %>" class="userPost">
                        <%- include('../partials/post.ejs', {post: post}) %>
                    </a>
                <% }) %>
            <% } else { %>
                <h2>No posts found..</h2>
            <% } %>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>

</html>