<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/navigation.ejs') %>
    <div class="container">
        <div class="feed">
            <% if (post) { %>
            <%- include('../partials/post.ejs') %>
            <button class="btn" type="button" name="delete" data-del="<%= post.id %>">Delete</button>

            <script>
                const delreq = document.querySelector('[name="delete"]');
                delreq.addEventListener('click', (e) => {
                    const endpoint = `/posts/${delreq.dataset.del}`;
                    fetch(endpoint, {
                        method: 'DELETE',
                    }).then(window.location.href = '/posts')
                });
            </script>

            <% } else { %>
            <h2>Post not found..</h2>
            <% } %>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>

</html>